@font-face {
    font-family: 'Libre Franklin';
    src: url('css-style/fonts/LibreFranklin-Regular.woff2') format('woff2'),
        url('css-style/fonts/LibreFranklin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('css-style/fonts/OpenSans-Light.woff2') format('woff2'),
        url('css-style/fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('css-style/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('css-style/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('css-style/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('css-style/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('css-style/fonts/Raleway-Light.woff2') format('woff2'),
        url('css-style/fonts/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('css-style/fonts/MyriadPro.woff2') format('woff2'),
        url('css-style/fonts/MyriadPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('css-style/fonts/MyriadPro-Bold.woff2') format('woff2'),
        url('css-style/fonts/MyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('css-style/fonts/MyriadPro-Semibold.woff2') format('woff2'),
        url('css-style/fonts/MyriadPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
/*@font-face {
  font-family: 'iconfont';  
  src: url('http://at.alicdn.com/t/font_727502_7cwjbl37bmy.eot');
  src: url('http://at.alicdn.com/t/font_727502_7cwjbl37bmy.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_727502_7cwjbl37bmy.woff') format('woff'),
  url('http://at.alicdn.com/t/font_727502_7cwjbl37bmy.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_727502_7cwjbl37bmy.svg#iconfont') format('svg');
}*/

/*

@extend .OpenSans_bold;
@extend .OpenSans_light;
@extend .OpenSans_Regular;
@extend .OpenSans_light;
@extend .Raleway_light;
@extend .Libre_Franklin_Regular;
@extend .MyriadPro_Regular;
@extend .MyriadPro_bold;
@extend .MyriadPro_Semibold;
@extend .a_buttom;
@extend .content_h3;
@extend .content_p;

*/
.MyriadPro_Semibold{
    font-family: 'Myriad Pro';
    font-weight: 600;
    font-style: normal;
}
.MyriadPro_Regular{
    font-family: 'Myriad Pro';
    font-weight: normal;
    font-style: normal;
}
.MyriadPro_bold{
    font-family: 'Myriad Pro';
    font-weight: bold;
    font-style: normal;
}
.Libre_Franklin_Regular{
    font-family: 'Libre Franklin';
    font-weight: normal;
    font-style: normal;
}
.OpenSans_bold{
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
}
.OpenSans_light{
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}
.OpenSans_Regular{
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
}
.Raleway_light{
    font-family: 'Raleway';
    font-weight: 300;
    font-style: normal;
}
.fontsize_18{
    font-size: 18px;
    @media (max-width:640px) {
        font-size: 14px;
    }
}
.fontsize_24{
    font-size: 24px;
    @media (max-width:640px) {
        font-size: 18px;
    }
}
.fontsize_14{
    font-size: 14px;
}
.content_p{
    @extend .OpenSans_light;
    @extend .fontsize_18;
}

.content_h3{
    @extend .fontsize_24;
    @extend .OpenSans_bold;
}
.a_buttom{
    display: inline-block;
    width: 176px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    /*box-shadow: 0 2px 5px #bfbfbf;*/
    box-shadow: 0 2px 5px #3f3f3f;
    color: #fff;
    @media (max-width:640px) {
        width: 153px;
        height: 35px;
        line-height: 35px;
    }
    &:hover{
        /*transition: all .3s cubic-bezier(0,0,.58,1);*/
        transition:all 0.3s ease-in-out;
    }
}